<?xml version="1.0"?>
<launch>
	<arg name="smooth" default="true"/>
	<arg name="filter" default="true"/>
	<arg name="cart_control" default="true"/>
	<arg name="sim" default="false"/>
	<arg name="live_camera" default="true"/>
	<arg name="real_hw" default="false"/>

	<group unless="$(arg real_hw)">
		<include file="$(find manos_gazebo)/launch/manos_gazebo.launch">
			<arg name="cart_control" value="$(arg cart_control)"/>
		</include>
	</group>

	<include file="$(find openpose_utils_launch)/launch/openpose_launch.launch">
		<arg name="sim" default="$(arg sim)"/>
		<arg name="live_camera" default="$(arg live_camera)"/>
	</include>

	<include file="$(find frame_transpose)/launch/frame_transpose.launch">
	</include>

	<include file="$(find movement_detection)/launch/movement_detection.launch">
		<arg name="smooth" value="$(arg smooth)"/>
		<arg name="filter" value="$(arg filter)"/>
	</include>
	
	<include file="$(find trajectory_process_utils)/launch/static_point_filtering.launch" if="$(arg filter)">
	</include>

	<include file="$(find trajectory_process_utils)/launch/trajectory_smoothing.launch" if="$(arg smooth)">
	</include>

	<include file="$(find trajectory_execution_launch)/launch/trajectory_execution_launch.launch">
	</include>

</launch>